<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Olimpiadi - Vanilla</title>
        <link rel="stylesheet" href="index.css">
        <script src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"></script>
        <script src="https://unpkg.com/htmx-ext-sse@2.2.2/sse.js"></script>
        <script src="https://unpkg.com/hyperscript.org@0.9.13/dist/_hyperscript.min.js"></script>
    </head>
    <body>
        <div class="top-bar">
            <div class="hamburger"
                _="on mousedown toggle .is-active toggle .is-collapsed on .side-menu toggle .is-visible on .side-menu-overlay">
                <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                </div>
            </div>
            <div id="olympiad-badge"
                 data-id="0"
                 data-version="0"
                 data-name="Olympiad badge"
                 data-tab-id="{{ tab_id }}">
                Olympiad badge
            </div>
        </div>
        <div class="content-area">
            <div class="side-menu is-collapsed">
                <ul _="on click if no <.side-menu.is-collapsed/> toggle .is-active on .hamburger toggle .is-collapsed on .side-menu toggle .is-visible on .side-menu-overlay end">
                    <li hx-get="api/olympiads" hx-trigger="click" hx-target="#main-content">Olimpiadi</li>
                <!--
                    <li hx-get="api/events" hx-trigger="click" hx-target="#main-content">Eventi</li>
                    <li hx-get="api/players" hx-trigger="click" hx-target="#main-content">Giocatori</li>
                -->
                </ul>
            </div>
            <div class="side-menu-overlay"
                _="on mousedown toggle .is-active on .hamburger toggle .is-collapsed on .side-menu toggle .is-visible on me"></div>
            <div id="main-content">
                A presentation page
            </div>
        </div>
        <div id="modal-container"></div>
        <div id="olympiad-sse-link"></div>
    </body>
    <script>
        document.body.addEventListener('htmx:configRequest', function(evt) {
            const badge = document.getElementById('olympiad-badge');
            evt.detail.headers['X-Olympiad-Id'] = badge.dataset.id;
            evt.detail.headers['X-Olympiad-Version'] = badge.dataset.version;
            evt.detail.headers['X-Olympiad-Name'] = badge.dataset.name;
            evt.detail.headers['X-Tab-Id'] = badge.dataset.tabId;
        });

</script>
</html>