html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

.side-column {
    display: flex;
}

.header {
    display: flex;
    height: 200px;
}

#main-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

/*
 * Side menu
 */
.side-menu {
    display: flex;
    width: 150px;
    overflow: hidden;
    transition: width 0.3s ease;
    background-color: blueviolet;
    padding-top: 100px;
}

.side-menu.is-collapsed {
    width: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 15px;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    -webkit-tap-highlight-color: transparent;
}

.hamburger:hover {
    opacity: .7
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    background-color: #000000
}

.hamburger-box {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 24px
}

.hamburger-inner {
    top: 50%;
    display: block;
    margin-top: -2px
}

.hamburger-inner,.hamburger-inner:after,.hamburger-inner:before {
    position: absolute;
    width: 40px;
    height: 4px;
    transition-timing-function: ease;
    transition-duration: .15s;
    transition-property: transform;
    border-radius: 4px;
    background-color: #000000
}

.hamburger-inner:after,.hamburger-inner:before {
    display: block;
    content: ""
}

.hamburger-inner:before {
    top: -10px
}

.hamburger-inner:after {
    bottom: -10px
}
.hamburger .hamburger-inner {
    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
    transition-duration: 75ms
}

.hamburger .hamburger-inner:before {
    transition: top 75ms ease .12s,opacity 75ms ease
}

.hamburger .hamburger-inner:after {
    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19)
}

.hamburger.is-active .hamburger-inner {
    transition-delay: .12s;
    transition-timing-function: cubic-bezier(.215,.61,.355,1);
    transform: rotate(45deg)
}

.hamburger.is-active .hamburger-inner:before {
    top: 0;
    transition: top 75ms ease,opacity 75ms ease .12s;
    opacity: 0
}

.hamburger.is-active .hamburger-inner:after {
    bottom: 0;
    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
    transform: rotate(-90deg)
}