{% if entities == "olympiads" %}
    <form class="entity-form"
        hx-get="/api/olympiads/create"
        hx-target="#modal-container"
        autocomplete="off">
        <input type="text" name="name" placeholder="{{ placeholder }}" required>
        <button type="submit">+</button>
    </form>
{% else %}
    <form class="entity-form"
        autocomplete="off"
        hx-post="/api/{{ entities }}"
        hx-target="#main-content">
        <input type="text" name="name" placeholder="{{ placeholder }}" required>
        <button type="submit">+</button>
    </form>
{% endif %}
<div id="entity-list">
    {% for item in items %}
        {% if entities == "olympiads" %}
            {% set hx_target = "#olympiads-" ~ item.id %}
        {% else %}
            {% set hx_target = "#main-content" %}
        {% endif %}

        {% include 'entity_element.html' %}
    {% endfor %}
</div>