<div id="event-page" class="event-page">
    <h2 class="event-title">{{ event.name }}</h2>
    {% include "event_status_controls.html" %}
    <div class="event-tabs">
        <button id="tab-setup"
            class="event-tab{{ ' active' if event.status == 'registration' }}"
            {% if event.status == "registration" %}
                hx-get="/api/events/{{ event.id }}/setup?version={{ event.version }}"
                hx-trigger="load, click"
                hx-target="#event-section-content"
                hx-swap="innerHTML"
                _="on click add .active to me then remove .active from #tab-players then remove .active from #tab-stages"
            {% else %}
                disabled
            {% endif %}
            >
            Setup
        </button>
        <button id="tab-players"
            class="event-tab{{ ' active' if event.status != 'registration' }}"
            hx-get="/api/events/{{ event.id }}/players"
            {% if event.status != "registration" %}
                hx-trigger="load, click"
            {% endif %}
            hx-target="#event-section-content"
            hx-swap="innerHTML"
            _="on click add .active to me then remove .active from #tab-setup then remove .active from #tab-stages">
            Giocatori
        </button>
        <button id="tab-stages"
            class="event-tab"
            hx-get="/api/events/{{ event.id }}/stage/1"
            hx-target="#event-section-content"
            hx-swap="innerHTML"
            _="on click add .active to me then remove .active from #tab-setup then remove .active from #tab-players">
            Fasi
        </button>
    </div>

    <div id="event-section-content" class="event-layout"></div>
</div>
