<div id="modal" _="on closeModal from body remove me">
    <div class="modal-underlay" _="on htmx:afterRequest trigger closeModal on body"></div>
    <div class="modal-content" _="on click halt the event's bubbling">
        <p>L'olimpiade selezionata è stata eliminata da un altro admin.</p>
        <div class="modal-actions">
            <button hx-get="/api/olympiads"
                    hx-target="#main-content"
                    _="on htmx:afterRequest trigger closeModal on body">
                Vai alle olimpiadi
            </button>
        </div>
    </div>
</div>
