<div id="score-kind-section">
    {% for sk in score_kinds %}
        {% if sk.kind == current_score_kind %}
            <div class="score-kind-item active" hx-put="/api/events/{{ event_id }}/score_kind"
                hx-vals='{"score_kind":"{{ sk.kind }}"}' hx-target="#score-kind-section" hx-swap="outerHTML">
                {{ sk.label }}
            </div>
        {% else %}
            <div class="score-kind-item" hx-put="/api/events/{{ event_id }}/score_kind"
                hx-vals='{"score_kind":"{{ sk.kind }}"}' hx-target="#score-kind-section" hx-swap="outerHTML">
                {{ sk.label }}
            </div>
        {% endif %}
    {% endfor %}
</div>
